<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RestAssured Demo" >
	
	<test name="Demo">
		<!-- <packages>
			<package name="RestAssured.*" />
		</packages> -->
		<classes>
			<class name="RestAssuredTest.testGetActivity"></class>
		</classes>
	</test>
</suite>